#div_audio_player{
    background-color: black;
    border-radius: 5px;
    left: 600px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 0px;
    z-index: 1000;
    }

#song_title{
    color: white;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    line-height: 20px;
    width: 270px;
    }
